<a href="https://colab.research.google.com/github/Nikhil0314/Capstone-project-1-Airbnb-Bookings-Analysis-EDA/blob/main/AirBnb_Booking_Analysis_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#          1. Importing the required libraries for EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
Data=pd.read_csv(r"/content/Airbnb NYC 2019 (1).csv")

In [4]:
Data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaN,NaN,1.0,365.0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14879,11801984,"Bright, contemporary and best location.",24232061,Tracy,Manhattan,Upper East Side,40.77189,-73.95540,Private room,122.0,9.0,12.0,2018-10-27,0.32,3.0,160.0
14880,11802086,5 rooms in clean apartment /West Harlem,62852828,Latrisha,Manhattan,Harlem,40.82443,-73.95265,Entire home/apt,400.0,3.0,2.0,2018-05-11,0.06,2.0,88.0
14881,11803487,Home 4 Medical Professionals-Brooklyn Hospital,26377263,Stat,Brooklyn,Fort Greene,40.68906,-73.97763,Private room,54.0,30.0,0.0,NaN,NaN,43.0,361.0
14882,11803893,Home 4 Medical Professionals-LIU,26377263,Stat,Brooklyn,Fort Greene,40.69006,-73.98056,Private room,54.0,30.0,0.0,NaN,NaN,43.0,361.0
14883,11804245,Home 4 Medical Professionals-Methodist Hospital,26377263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
Data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaN,NaN,1.0,365.0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0

In [6]:
Data.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
14879,11801984,"Bright, contemporary and best location.",24232061,Tracy,Manhattan,Upper East Side,40.77189,-73.95540,Private room,122.0,9.0,12.0,2018-10-27,0.32,3.0,160.0
14880,11802086,5 rooms in clean apartment /West Harlem,62852828,Latrisha,Manhattan,Harlem,40.82443,-73.95265,Entire home/apt,400.0,3.0,2.0,2018-05-11,0.06,2.0,88.0
14881,11803487,Home 4 Medical Professionals-Brooklyn Hospital,26377263,Stat,Brooklyn,Fort Greene,40.68906,-73.97763,Private room,54.0,30.0,0.0,NaN,NaN,43.0,361.0
14882,11803893,Home 4 Medical Professionals-LIU,26377263,Stat,Brooklyn,Fort Greene,40.69006,-73.98056,Private room,54.0,30.0,0.0,NaN,NaN,43.0,361.0
14883,11804245,Home 4 Medical Professionals-Methodist Hospital,26377263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14884 entries, 0 to 14883
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14884 non-null  int64
 1   name                            14872 non-null  object
 2   host_id                         14884 non-null  int64
 3   host_name                       14871 non-null  object
 4   neighbourhood_group             14883 non-null  object
 5   neighbourhood                   14883 non-null  object
 6   latitude                        14883 non-null  float64
 7   longitude                       14883 non-null  float64
 8   room_type                       14883 non-null  object
 9   price                           14883 non-null  float64
 10  minimum_nights                  14883 non-null  float64
 11  number_of_reviews               14883 non-null  float64
 12  last_review                     12428 non-null  object
 13  reviews_per_month               12428 non-null  float64
 14  calculated_host_listings_count  14883 non-null  float64
 15  availability_365                14883 non-null  float64
dtypes: float64(8), int64(2), object(6)
memory usage: 1.8+ MB

In [8]:
Data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [9]:
Data.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.488400e+04,1.488400e+04,14883.000000,14883.000000,14883.000000,14883.000000,14883.000000,12428.000000,14883.000000,14883.000000
mean,5.521759e+06,1.599426e+07,40.729763,-73.958634,155.733118,7.485252,39.405832,0.877399,3.124504,107.324531
std,3.492695e+06,1.597834e+07,0.052082,0.036243,247.072148,25.980234,64.194251,1.209976,10.488179,134.440878
min,2.539000e+03,2.571000e+03,40.499790,-74.240840,10.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,2.243752e+06,2.921051e+06,40.689645,-73.983615,75.000000,1.000000,1.000000,0.090000,1.000000,0.000000
50%,5.538382e+06,9.916160e+06,40.723370,-73.958900,117.000000,3.000000,10.000000,0.330000,1.000000,11.000000
75%,8.646907e+06,2.482611e+07,40.763960,-73.942780,176.000000,5.000000,49.000000,1.202500,2.000000,238.000000
max,1.180424e+07,6.285283e+07,40.908040,-73.712990,10000.000000,1250.000000,629.000000,14.580000,121.000000,365.000000

In [10]:
Data.isnull().sum()

id                                   0
name                                12
host_id                              0
host_name                           13
neighbourhood_group                  1
neighbourhood                        1
latitude                             1
longitude                            1
room_type                            1
price                                1
minimum_nights                       1
number_of_reviews                    1
last_review                       2456
reviews_per_month                 2456
calculated_host_listings_count       1
availability_365                     1
dtype: int64

In [11]:
(round(Data.isnull().sum() / Data.shape[0] * 100, 2)).sort_values(ascending=False)

last_review                       16.50
reviews_per_month                 16.50
host_name                          0.09
name                               0.08
neighbourhood_group                0.01
neighbourhood                      0.01
latitude                           0.01
longitude                          0.01
room_type                          0.01
price                              0.01
minimum_nights                     0.01
number_of_reviews                  0.01
calculated_host_listings_count     0.01
availability_365                   0.01
id                                 0.00
host_id                            0.00
dtype: float64

In [12]:
Data = Data.dropna()
Data.count()

id                                12413
name                              12413
host_id                           12413
host_name                         12413
neighbourhood_group               12413
neighbourhood                     12413
latitude                          12413
longitude                         12413
room_type                         12413
price                             12413
minimum_nights                    12413
number_of_reviews                 12413
last_review                       12413
reviews_per_month                 12413
calculated_host_listings_count    12413
availability_365                  12413
dtype: int64

In [13]:
Data.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [14]:
Data.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                    float64
number_of_reviews                 float64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count    float64
availability_365                  float64
dtype: object

In [15]:
Data.duplicated().sum()

0

In [16]:
print(len(Data.axes[0]))
print(len(Data.axes[1]))

12413
16